*{
    margin: auto;
    padding: auto;
}

header{
    background-color: greenyellow;
    top: 0;
    width: 100%;
    height: 15%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    size: 4em;
}

main{
    background-color: mediumslateblue;
    height: 120em;
    width: 100em;
}

footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 8%;
    background-color: black;
    color: blue;
    text-align: center;
}