*{
    margin: auto;
    padding: auto;
}

header{
    background-color: greenyellow;
    top: 0;
    width: 100%;
    height: 15%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

main{
    background-color: mediumslateblue;
    height: 100%;
}

footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 8%;
    background-color: black;
    color: blue;
    text-align: center;
}