*{
    margin: auto;
    padding: auto;
}

header{
    background-color: blue;
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

main{
    background-color: rgb(38, 0, 255);
    display: flex;
    width: 100%;
    height: 80%;
}


.que-es{
    background-color: gray;
    
}

footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 6%;
    background-color: black;
    color: white;
    text-align: center;
}